html {
  box-sizing: border-box;
  margin: 0;
  font: size 16px;
}

#piano {
  width: 980px;
  height: 200px;
  background-color: #00471b;
  border-radius: 10px;
  margin: 5rem auto 1rem;
  padding: 90px 1.5rem 0 1.5rem;
  position: relative;
}

.logo {
  width: 200px;
  position: absolute;
  top: 1.5rem;
}

#keys {
  width: calc(21 * 2.5rem) + calc(0.25rem * 21) + 8px;
  margin: 0 auto;
  height: 180px;
  background: #111010;
  padding: 2px 4px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  overflow: hidden;
}

.key:first-of-type {
  margin-left: 0.1rem;
}

.key {
  width: 2.5rem;
  height: 98%;
  background: #fff;
  border-radius: 0 0 5px 5px;
  margin-left: 0.25rem;
}

.key.black::after {
  display: block;
  content: "";
  background: #000;
  width: 32px;
  height: 110px;
  position: relative;
  left: -18px;
  border-radius: 0 0 5px 5px;
}

@media (max-width: 768px) {
  #piano {
    width: 360px;
  }
  #keys {
    width: 320px;
  }
  .logo {
    width: 150px;
  }
}
